{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
     <div class="container cards-container">
        <h1 class="page-heading"> <b>Departments</b></h1>

        <table class="table caption-top table-hover">
            <caption>List of Departments</caption>
            <thead>
                <tr class="table-dark">
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                </tr>
            </thead>
          <tbody>

          {% for item in departments %}
            <tr class='table-light clickable-row' data-href="/departments/{{ item.id }}">
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.name }}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>
         <div class = "container">
             <div class = "row">
                 <div class="col-lg-10"></div>
                 <div class="col-lg-2">
                     <button type="button" class="btn btn-dark add-new" onclick="enableform()">Add New</button>
                 </div>
             </div>
         </div>
          <div class="data-adding-form hide">
              <form method="post" enctype="application/x-www-form-urlencoded">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Department Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="department-name" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Pleas enter a new department name to add.</div>
                  </div>
                  <button type="submit" class="btn btn-dark submit">Submit</button>
                  <button class="btn btn-dark submit cancel" onclick="closeform()">Cancel</button>
             </form>
          </div>

    </div>
</div>

{% endblock content%}