{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
     <div class="container cards-container">
        <h1 class="page-heading"> <b>Employees</b></h1>
         <div class = "container">
             <div class = "row">
                 <div class="col-lg-10"></div>
                 <div class="col-lg-2">
                     <button type="button" class="btn btn-dark add-new" onclick="window.location.href='/register'">Add New</button>
                 </div>
             </div>
         </div>
        <table class="table caption-top table-hover">
            <caption>List of Departments</caption>
            <thead>
                <tr class="table-dark">
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Emp ID</th>
                  <th scope="col">Department</th>
                </tr>
            </thead>
          <tbody>

          {% for item in employees %}
            <tr class='table-light'>
              <th scope="row">{{ item.id }}</th>
              <td>{{ item.first_name }} {{ item.last_name }}</td>
              <td>{{ item.emp_id }}</td>
              <td>{{ item.department.name }}</td>
            </tr>
          {% endfor %}

          </tbody>
        </table>

    </div>
</div>

{% endblock content%}