{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
     <div class="container cards-container">
        <h1 class="page-heading"> <b>Tasks in " {{ project.name }}" </b></h1>

        <table class="table caption-top table-hover">
            <caption>List of Tasks</caption>
            <thead>
                <tr class="table-dark">
                  <th scope="col">Name</th>
                  <th scope="col">Assignee</th>
                </tr>
            </thead>
          <tbody>

          {% for item in tasks %}
              <tr>
                <td> {{ item.name }} </td>
                <td> {{ item.assignee }} </td>
              </tr>
         {% endfor %}

          </tbody>
        </table>
         <div class = "container">
             <div class = "row">
                 <div class="col-lg-8"></div>
                 <div class="col-lg-2">
                     <button type="button" class="btn btn-dark add-new" onclick="enableform()">Add New Task</button>
                 </div>
                 <div class="col-lg-2">
                     <form method="POST" onsubmit="return confirm('Are you sure delete this project? Associated tasks also will be dleted. ');" action="/project/delete/{{project.id}}">
                     <button type="submit" class="btn btn-dark add-new" >Delete Project</button>
                     </form>
                 </div>
             </div>
         </div>
          <div class="data-adding-form hide">
              <form method="post" enctype="application/x-www-form-urlencoded">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Task Name</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="task-name" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Please enter a new project name to add.</div>
                  </div>
                  <div class="mb-3">
                    <label for="Managername" class="form-label">Assignee Emp ID</label>
                    <input type="text" class="form-control" id="Managername" name="assignee" aria-describedby="emailHelp">
                  </div>
                  <button type="submit" class="btn btn-dark submit">Submit</button>
                  <button class="btn btn-dark submit cancel" onclick="closeform()">Cancel</button>
             </form>
          </div>

    </div>
</div>

{% endblock content%}