<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>{{ title }} | Timetracker</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


</head>
<body>
<section id="header">
    <div id="gloablnav">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
              <div class="container">
                  <div class = "row">
                      <div class="col-lg-6">
                        {% if current_user.is_admin %}
                        <a class="navbar-brand" href="{{ url_for('admin.admin_dashboard') }}"><b>Time Tracker</b></a>
                         {% else %}
                         <a class="navbar-brand" href="{{ url_for('users.dashboard') }}"><b>Time Tracker</b></a>
                         {% endif %}
                      </div>
                      <div class="col-lg-5">
                          <div class="navbar-nav">
                          {% if current_user.is_authenticated %}
                              {% if current_user.is_admin %}
                                 <a class="nav-link active" aria-current="page" href="{{ url_for('admin.admin_dashboard') }}">Home</a>
                                 <a class="nav-link active" aria-current="page" href="{{ url_for('admin.list_departments' ) }}">Departments</a>
                                 <a class="nav-link active" href="{{ url_for('admin.list_employees') }}">Employees</a>
                              {% else %}
                                 <a class="nav-link active" aria-current="page" href="{{ url_for('users.dashboard') }}">Home</a>
                                 <a class="nav-link active" href="{{ url_for('core.reporting_employee')}}">Employees</a>
                                 <a class="nav-link active" href="#">Tasks</a>
                              {% endif %}

                            <p class="greetings">Hi! {{ current_user.first_name }}<p/>
                            {% endif %}
                          </div>
                      </div>
                      <div class="col-lg-1">
                          <a class="logout" href=" {{ url_for('users.logout') }}">Logout</a>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
    </div>
</section>
<div class="container">


  {# get_flashed_messages() is auto sent to the template with the flash() call #}
    {% for mess in get_flashed_messages()  %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
       <strong>{{mess}}</strong>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close" onclick="close_flash()">
       <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
</div>
{% block content %}

{% endblock %}

<footer id= "footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>

<script src="{{ url_for('static', filename='scripts/myscripts.js') }}" ></script>

</body>
</html>